.1_579 { 
	overflow:hidden;
}
.e1_579 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:844px;
	position:absolute;
}
.e1_580 { 
	width:390px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_580_632_501 { 
	width:390.2011413574219px;
	height:29.89501190185547px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_580_632_502 { 
	width:68.7585220336914px;
	height:13.951004981994629px;
	position:absolute;
	left:311.4776306152344px;
	top:19.929996490478516px;
}
.ei1_580_632_503 { 
	width:19.930007934570312px;
	height:13.951004981994629px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_580_632_503_1_33 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:2.9895012378692627px;
	height:7.972002983093262px;
	position:absolute;
	left:10.961515426635742px;
	top:3.986008644104004px;
}
.ei1_580_632_503_1_34 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:2.9895012378692627px;
	height:5.979002475738525px;
	position:absolute;
	left:6.477263450622559px;
	top:5.978996276855469px;
}
.ei1_580_632_503_1_35 { 
	background-color:rgba(246.0000005364418, 246.0000005364418, 246.0000005364418, 1);
	width:2.9895012378692627px;
	height:4.484251499176025px;
	position:absolute;
	left:1.993011236190796px;
	top:7.473767280578613px;
}
.ei1_580_632_503_1_36 { 
	background-color:rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 0.18000000715255737);
	width:2.9895012378692627px;
	height:9.965003967285156px;
	position:absolute;
	left:15.445767402648926px;
	top:1.9929908514022827px;
}
.ei1_580_632_503_1_37 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:2.9895012378692627px;
	height:7.972002983093262px;
	position:absolute;
	left:10.961515426635742px;
	top:3.986008644104004px;
}
.ei1_580_632_503_1_38 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:2.9895012378692627px;
	height:5.979002475738525px;
	position:absolute;
	left:6.477263450622559px;
	top:5.978996276855469px;
}
.ei1_580_632_503_1_39 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:2.9895012378692627px;
	height:4.484251499176025px;
	position:absolute;
	left:1.993011236190796px;
	top:7.473767280578613px;
}
.ei1_580_632_504 { 
	width:15.944005966186523px;
	height:13.951004981994629px;
	position:absolute;
	left:23.9160099029541px;
	top:0.0000034182958188466728px;
}
.ei1_580_632_504_1_116 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:4.356564521789551px;
	height:3.0497026443481445px;
	position:absolute;
	left:5.917441368103027px;
	top:8.90828800201416px;
}
.ei1_580_632_504_1_117 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:9.28718376159668px;
	height:3.30265474319458px;
	position:absolute;
	left:3.4527058601379395px;
	top:5.450700283050537px;
}
.ei1_580_632_504_1_118 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:14.200130462646484px;
	height:4.307460784912109px;
	position:absolute;
	left:0.996488094329834px;
	top:1.9929908514022827px;
}
.ei1_580_632_505 { 
	width:24.91250991821289px;
	height:13.951004981994629px;
	position:absolute;
	left:43.84601974487305px;
	top:0.0000034182958188466728px;
}
.ei1_580_632_505_1_207 { 
	background-color:rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 0.6000000238418579);
	width:0.9965003728866577px;
	height:3.986001491546631px;
	position:absolute;
	left:23.916013717651367px;
	top:4.982502460479736px;
	border-radius:Symbol(figma.mixed)px;
}
.ei1_580_632_505_1_212 { 
	background-color:rgba(60.00000022351742, 60.00000022351742, 67.00000360608101, 0.6000000238418579);
	width:22.91950798034668px;
	height:11.95800495147705px;
	position:absolute;
	left:-0.0000022385293050319888px;
	top:0.9964971542358398px;
}
.ei1_580_632_505_1_213 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:18.93350601196289px;
	height:7.972002983093262px;
	position:absolute;
	left:1.9930003881454468px;
	top:3.004387140274048px;
	border-top-left-radius:0.9965003728866577px;
	border-top-right-radius:0.9965003728866577px;
	border-bottom-left-radius:0.9965003728866577px;
	border-bottom-right-radius:0.9965003728866577px;
}
.ei1_580_632_506 { 
	width:5.979002475738525px;
	height:5.979002475738525px;
	position:absolute;
	left:300.62408447265625px;
	top:7.6262335777282715px;
}
.ei1_580_632_507 { 
	width:53.81101989746094px;
	height:20.9265079498291px;
	position:absolute;
	left:7.971949577331543px;
	top:15.94487476348877px;
	border-top-left-radius:19.930007934570312px;
	border-top-right-radius:19.930007934570312px;
	border-bottom-left-radius:19.930007934570312px;
	border-bottom-right-radius:19.930007934570312px;
}
.ei1_580_632_507_1_260 { 
	width:32.88451385498047px;
	height:14.947505950927734px;
	position:absolute;
	left:11.01891803741455px;
	top:2.014248847961426px;
}
.ei1_580_632_507_1_261 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:28.32668685913086px;
	height:11.050060272216797px;
	position:absolute;
	left:1.9930002689361572px;
	top:1.992984414100647px;
}
.e1_581 { 
	box-shadow:2px 4px 20px rgba(126.00000008940697, 126.00000008940697, 126.00000008940697, 0.5);
	width:390px;
	height:91px;
	position:absolute;
	left:0px;
	top:753px;
}
.e1_582 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_583 { 
	width:390px;
	height:33px;
	position:absolute;
	left:0px;
	top:58px;
}
.ei1_583_1_4499 { 
	width:390px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_583_1_4499_2683_11551 { 
	width:139.36000061035156px;
	height:5.156250953674316px;
	position:absolute;
	left:125.83985137939453px;
	top:21.656248092651367px;
}
.ei1_583_1_4499_2683_11551_4_225 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:139.43199157714844px;
	height:4.807999610900879px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16.02666664123535px;
	border-top-right-radius:16.02666664123535px;
	border-bottom-left-radius:16.02666664123535px;
	border-bottom-right-radius:16.02666664123535px;
}
.e1_584 { 
	width:30px;
	height:46px;
	position:absolute;
	left:29px;
	top:759px;
}
.e1_585 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_585_3_9820 { 
	background-color:rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
	width:22.5px;
	height:22.475250244140625px;
	position:absolute;
	left:3.75px;
	top:3.75px;
}
.ei1_585_3_9821 { 
	background-color:rgba(11.000000294297934, 28.000000230968, 63.000000044703484, 1);
	width:22.5px;
	height:22.475250244140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_585_3_9822 { 
	width:22.5px;
	height:22.475250244140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_585_3_9823 { 
	width:12.434210777282715px;
	height:1.7763161659240723px;
	position:absolute;
	left:5.032896518707275px;
	top:15.688207626342773px;
}
.e1_586 { 
	color:rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
	width:11px;
	height:14px;
	position:absolute;
	left:9.5px;
	top:32px;
	font-family:Pretendard;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e1_587 { 
	width:45px;
	height:46px;
	position:absolute;
	left:94px;
	top:759px;
}
.e1_588 { 
	width:30px;
	height:30px;
	position:absolute;
	left:7.5px;
	top:0px;
}
.ei1_588_3_9829 { 
	background-color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:25.1614933013916px;
	height:24.99284553527832px;
	position:absolute;
	left:2.4246087074279785px;
	top:2.507154703140259px;
}
.e1_589 { 
	color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:45px;
	height:14px;
	position:absolute;
	left:0px;
	top:32px;
	font-family:Pretendard;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e1_590 { 
	width:32px;
	height:46px;
	position:absolute;
	left:328px;
	top:759px;
}
.e1_591 { 
	width:30px;
	height:30px;
	position:absolute;
	left:1px;
	top:0px;
}
.ei1_591_3_9825 { 
	background-color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:19.76708221435547px;
	height:25.000019073486328px;
	position:absolute;
	left:5.116458892822266px;
	top:2.499981164932251px;
}
.e1_592 { 
	color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:32px;
	height:14px;
	position:absolute;
	left:0px;
	top:32px;
	font-family:Pretendard;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e1_593 { 
	width:42px;
	height:46px;
	position:absolute;
	left:174px;
	top:759px;
}
.e1_594 { 
	width:30px;
	height:30px;
	position:absolute;
	left:6px;
	top:0px;
}
.ei1_594_3_9827 { 
	background-color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:25.23750114440918px;
	height:24.763004302978516px;
	position:absolute;
	left:2.5px;
	top:2.5px;
}
.e1_595 { 
	color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:42px;
	height:14px;
	position:absolute;
	left:0px;
	top:32px;
	font-family:Pretendard;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e1_596 { 
	width:42px;
	height:46px;
	position:absolute;
	left:251px;
	top:759px;
}
.e1_597 { 
	width:30px;
	height:30px;
	position:absolute;
	left:6px;
	top:0px;
}
.ei1_597_4_9840 { 
	background-color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:25.395261764526367px;
	height:23.802234649658203px;
	position:absolute;
	left:2.3306970596313477px;
	top:2.6363608837127686px;
}
.e1_598 { 
	color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:42px;
	height:14px;
	position:absolute;
	left:0px;
	top:32px;
	font-family:Pretendard;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e1_599 { 
	width:390px;
	height:48px;
	position:absolute;
	left:0px;
	top:53px;
}
.e1_600 { 
	background-color:rgba(255, 255, 255, 1);
	width:390px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_601 { 
	width:30px;
	height:25.55555534362793px;
	position:absolute;
	left:20px;
	top:12px;
}
.e1_602 { 
	background-color:rgba(255, 170.0000050663948, 0, 1);
	width:30.003170013427734px;
	height:23.18427848815918px;
	position:absolute;
	left:0.0004769695224240422px;
	top:-0.00027907456387765706px;
}
.e1_603 { 
	background-color:rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
	width:17.178781509399414px;
	height:9.955714225769043px;
	position:absolute;
	left:9.836471557617188px;
	top:15.595908164978027px;
}
.e1_604 { 
	transform: rotate(-90.00000000000001deg);
	width:24px;
	height:24px;
	position:absolute;
	left:296px;
	top:36px;
}
.ei1_604_6_4243 { 
	background-color:rgba(188.9124870300293, 188.9124870300293, 188.9124870300293, 1);
	width:18.798471450805664px;
	height:19.749469757080078px;
	position:absolute;
	left:3px;
	top:2.0001273155212402px;
}
.e1_605 { 
	width:24px;
	height:24px;
	position:absolute;
	left:345px;
	top:12px;
}
.e1_606 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_606_6_4250 { 
	background-color:rgba(188.9124870300293, 188.9124870300293, 188.9124870300293, 1);
	width:18.813135147094727px;
	height:19.390029907226562px;
	position:absolute;
	left:3px;
	top:2px;
}
.e1_607 { 
	width:349px;
	height:19px;
	position:absolute;
	left:21px;
	top:113px;
}
.e1_608 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:224px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Pretendard;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_609 { 
	width:349px;
	height:19px;
	position:absolute;
	left:20px;
	top:487px;
}
.e1_610 { 
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Pretendard;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_611 { 
	width:349px;
	height:19px;
	position:absolute;
	left:20px;
	top:604px;
}
.e1_612 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Pretendard;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_613 { 
	width:349px;
	height:102px;
	position:absolute;
	left:20px;
	top:301px;
}
.e1_614 { 
	background-color:rgba(213.00000250339508, 241.00000083446503, 206.0000029206276, 1);
	width:351px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e1_615 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:45px;
	height:14px;
	position:absolute;
	left:43px;
	top:69px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_616 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:55px;
	height:14px;
	position:absolute;
	left:112px;
	top:69px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_617 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:45px;
	height:14px;
	position:absolute;
	left:191px;
	top:69px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_618 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:45px;
	height:14px;
	position:absolute;
	left:260px;
	top:69px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_619 { 
	border-radius:500px;
	background-color:rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:61px;
	top:51px;
}
.e1_620 { 
	border-radius:500px;
	background-color:rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:135px;
	top:51px;
}
.e1_621 { 
	border-radius:500px;
	background-color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:209px;
	top:51px;
}
.e1_622 { 
	border-radius:500px;
	background-color:rgba(202.00000315904617, 204.00000303983688, 202.00000315904617, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:278px;
	top:51px;
}
.1_623 { 
	border:1.5px solid rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
}
.e1_623 { 
	width:54.5px;
	height:0px;
	position:absolute;
	left:75.5px;
	top:56px;
}
.1_624 { 
	border:1.5px solid rgba(189.00000393390656, 189.00000393390656, 189.00000393390656, 1);
}
.e1_624 { 
	width:54.5px;
	height:0px;
	position:absolute;
	left:150px;
	top:56px;
}
.1_625 { 
	border:1.5px solid rgba(189.00000393390656, 189.00000393390656, 189.00000393390656, 1);
}
.e1_625 { 
	width:54.5px;
	height:0px;
	position:absolute;
	left:222px;
	top:56px;
}
.e1_626 { 
	width:16px;
	height:19.93337059020996px;
	position:absolute;
	left:137px;
	top:23px;
}
.e1_627 { 
	background-color:rgba(255, 170.0000050663948, 0, 1);
	width:12.251739501953125px;
	height:15.646702766418457px;
	position:absolute;
	left:0px;
	top:4.286690711975098px;
}
.e1_628 { 
	background-color:rgba(122.00000032782555, 188.0000039935112, 104.00000140070915, 1);
	width:7.697149276733398px;
	height:6.232607364654541px;
	position:absolute;
	left:8.302827835083008px;
	top:1.1368683772161603e-13px;
}
.e1_629 { 
	width:350px;
	height:102px;
	position:absolute;
	left:20px;
	top:637px;
}
.e1_630 { 
	width:188px;
	height:102px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_2507.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_631 { 
	width:188px;
	height:102px;
	position:absolute;
	left:218px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/rectangle_2508.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_632 { 
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:48px;
	position:absolute;
	left:20px;
	top:415px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.1_632 { 
	border:2px solid rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
}
.e1_633 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:19px;
	position:absolute;
	left:21px;
	top:15px;
	font-family:Pretendard;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_634 { 
	width:14px;
	height:14px;
	position:absolute;
	left:335px;
	top:18px;
}
.ei1_634_7_3867 { 
	background-color:rgba(0, 0, 0, 1);
	width:5.540896892547607px;
	height:10.19742488861084px;
	position:absolute;
	left:4.229551792144775px;
	top:1.9067461490631104px;
}
.e1_635 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 0.699999988079071);
	width:35px;
	height:14px;
	position:absolute;
	left:296px;
	top:18px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_636 { 
	width:349px;
	height:133px;
	position:absolute;
	left:20px;
	top:156px;
}
.e1_637 { 
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.1_637 { 
	border:2px solid rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
}
.e1_638 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:172px;
	height:17px;
	position:absolute;
	left:168px;
	top:199px;
	font-family:Pretendard;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e1_639 { 
	background-color:rgba(213.35893124341965, 241.1742290854454, 206.40496999025345, 1);
	width:131px;
	height:24px;
	position:absolute;
	left:189px;
	top:234px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e1_640 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 0.699999988079071);
	width:77px;
	height:14px;
	position:absolute;
	left:216px;
	top:239px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_641 { 
	border-radius:500px;
	background-color:rgba(255, 170.0000050663948, 0, 1);
	width:120px;
	height:120px;
	position:absolute;
	left:35px;
	top:162px;
}
.e1_642 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:110px;
	height:110px;
	position:absolute;
	left:40px;
	top:167px;
}
.e1_643 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:33px;
	height:25px;
	position:absolute;
	left:78px;
	top:210px;
	font-family:Pretendard;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e1_644 { 
	width:350px;
	height:50px;
	position:absolute;
	left:20px;
	top:530px;
}
.1_645 { 
	border:2px solid rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
}
.e1_645 { 
	width:60px;
	height:36px;
	position:absolute;
	left:0px;
	top:7px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.1_646 { 
	border:2px solid rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
}
.e1_646 { 
	width:69px;
	height:36px;
	position:absolute;
	left:84px;
	top:7px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.1_647 { 
	border:2px solid rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
}
.e1_647 { 
	width:69px;
	height:36px;
	position:absolute;
	left:177px;
	top:7px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.1_648 { 
	border:2px solid rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
}
.e1_648 { 
	width:48px;
	height:36px;
	position:absolute;
	left:270px;
	top:7px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e1_649 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:32px;
	height:14px;
	position:absolute;
	left:14px;
	top:18px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_650 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:45px;
	height:14px;
	position:absolute;
	left:96px;
	top:18px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_651 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:21px;
	height:14px;
	position:absolute;
	left:284px;
	top:18px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_652 { 
	color:rgba(25.000000409781933, 25.000000409781933, 25.000000409781933, 1);
	width:45px;
	height:14px;
	position:absolute;
	left:189px;
	top:18px;
	font-family:Pretendard;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.1_653 { 
	border:2px solid rgba(96.00000187754631, 201.00000321865082, 28.000000230968, 1);
}
.e1_653 { 
	width:48px;
	height:36px;
	position:absolute;
	left:342px;
	top:7px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e1_654 { 
	width:14px;
	height:14px;
	position:absolute;
	left:149px;
	top:489px;
}
.ei1_654_7_3949 { 
	background-color:rgba(0, 0, 0, 1);
	width:10.186507225036621px;
	height:5.530758857727051px;
	position:absolute;
	left:1.9067461490631104px;
	top:4.240079402923584px;
}
.e1_655 { 
	width:14px;
	height:14px;
	position:absolute;
	left:131px;
	top:606px;
}
.ei1_655_7_3949 { 
	background-color:rgba(0, 0, 0, 1);
	width:10.186507225036621px;
	height:5.530758857727051px;
	position:absolute;
	left:1.9067461490631104px;
	top:4.240079402923584px;
}
